#_vzki3hu {
  width:424px;
  height:450px;
}

#_wt0hzyj {
  top: 26px;
}

#_kyrzrv3 {
  right:171px;
  bottom:10px;
  width:75px;
  height:23px;
}

#_e1dy2d3 {
  right:90px;
  bottom:10px;
  width:75px;
  height:23px;
}

#_0uxqt64 {
  right:9px;
  bottom:10px;
  width:75px;
  height:23px;
}

#_3z5pfnt {
  right:9px;
  bottom:39px;
  left:8px;
  top:8px;
}

#_cnoxlw7 {
  right:20px;
  bottom:158px;
  left:18px;
  top:11px;
  border-width:2px;
}

#_mx8q6c2 {
  right:0;
  bottom:0;
  left:0;
  top:0;
}

#_eo392eh {
  left:9px;
  top:9px;
  box-shadow:none;
}

#_eo392eh .WindowLayout {
  width:328px;
  height:134px;
}

#_9s9nxfh {
  left:0;
  top:0;
  right:0;
  bottom:0;
}

#_eo382eh {
  left:19px;
  top:31px;
  box-shadow:none;
}

#_eo382eh .WindowLayout {
  width:335px;
  height:132px;
}

#_9s8nxfh {
  left:0;
  top:0;
  right:0;
  bottom:0;
}

#_zs8fc8d .ScrollBar_inner .ScrollBar_thumb {
  height:12px;
}

#_lf4zmqg {
  top:59px;
  left:108px;
  box-shadow:none;
}

#_lf4zmqg .WindowLayout {
    width:146px;
    height:97px;
}

#_bq3ihfk {
  bottom: 24px;
  height: 30px;
  width: 80px;
}

#_1cfyyo2 {
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#_kygzrv3 {
  width:83px;
  height:23px;
  right:16px;
  bottom:42px;
}

#_e1dy2k3 {
  width:83px;
  height:23px;
  right:16px;
  bottom:13px;
}

#_1zuzu8m {
  left:16px;
  bottom:134px;
}

#_xh855zu {
  left:15px;
  bottom:109px;
  width:221px;
  height:21px;
}

#_85zuzu8m {
  left:16px;
  bottom:87px;
}

#_xh835zu {
  left:15px;
  bottom:62px;
  width:221px;
  height:21px;
}

#_3zedzu8m {
  left:16px;
  bottom:39px;
}

#_xh854zu {
  left:15px;
  bottom:15px;
  width:221px;
  height:21px;
}